@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
background-color: #02010e;
font-family: 'Poppins', sans-serif;
font-weight: 300;
color: white;
padding-top: 15%;
}

footer {
  background-color: red;
}

.general_text_color {
  color: rgba(255, 0, 0, 0.719);
}

a:hover {
border-bottom: 1px solid red;
padding-bottom: 0;
color: white;
}

a {
color: rgba(173, 173, 173, 0.801);
text-decoration: none;
text-align: center;
position: relative;
}

.avatar {
border-radius: 10%;
width: 100%;
max-width: 150px;
}

.img-center {
text-align: center;
padding-bottom: 20px;
}

.social-link {
text-align: center;
padding-top: 150px;
}

.fixed {
position: fixed;
left: 0;
bottom: 50px;
}

@media (max-width: 799px) {
.desktop {
  display: none;
}

.mobile {
  display: block;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  font-size: 3.0rem;
}
}

@media (min-width: 800px) {
.desktop {
  display: block;
}

.mobile {
  display: none;
}
}

.social-icon {
height: 1.2em;
margin: 0 0 -4px 0;
}
